.row{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.col{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70px;
    margin: 1em;
    position: relative;
}
.col img{
    width: 100%;
}
.container_left{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.col p{
    position: absolute;
    font-size: 15px;
    top: 80%;
}
.container_left{
    position: relative;
}
.slider_left{
    border-left: 1px solid #C0C2C3;
    position: absolute;
    box-shadow: -3px 0px 0px rgb(0 0 0 / 5%);
    top: 0;
    right: 0;
    width: 400px;
    height: 350px;
    overflow: hidden;
}
.section {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 350px;
  position: relative;
}
.left-btn{
    position: absolute;
    top: auto;
    right: auto;
}
.left-btn button{
    display: flex;
    cursor: pointer;
    background-color: transparent;
    border: none;
    flex-direction: row-reverse;
    align-items: center;
  }
  .left-btn button:after{
      content: " ";
      width: 20px;
      height: 1px;
      background-color: #354A9F;
  }


